body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.output {
    margin-top: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}